@*@using Microsoft.AspNet.Identity*@
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "mr-auto" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
            @Html.ActionLink("Hola " + User.Identity.Name + "!", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "nav-link  text-white" })
        </li>
        <li class="nav-item"><a class="nav-link  text-white" href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = " text-white" })</li>
    </ul>
}
