@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Calendario</h1>
    <p class="lead"> "@User.Identity.Name" Se ha logueado</p>
</div>

<div class="row">
    <div class="col">
        <div class="month">
            <ul>
                <li id="prevMonth" class="prev btn btn-secondary" onclick="anteriorMes()">&#10094;</li>
                <li id="nextMonth" class="next btn btn-secondary" onclick="proximoMes()">&#10095;</li>
                <li id="currentMonth">August<br><span style="font-size:18px">2017</span></li>
            </ul>
        </div>
        <table id="daysCal" class="table table-striped">
            <thead>
                <tr id="fila0" class="weekdays">
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr id="fila1" class="days">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr id="fila2" class="days">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr id="fila3" class="days">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr id="fila4" class="days">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr id="fila5" class="days">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr id="fila6" class="days">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


@section scripts {
    <link href="~/Content/calendarioStyle.css" rel="stylesheet" />
    <script src="~/Scripts/calendarioScript.js"></script>
}