@{
    ViewBag.Title = "Inicio";
}

<div class="card text-body">
    <div class="card-body">
        <table width="100%" height="100%">
            <tr>
                <td align="left">
                    <h1>Calendario</h1>
                    <p class="lead"> "@User.Identity.Name" Se ha logueado</p>
                </td>
                <td align="right">
                    <img src="~/Content/images/sertevet1.jpg" width="180" height="100" alt="Placeholder" class="img-responsive" align="right" />
                </td>
            </tr>
        </table>
    </div>
    
</div>


<div class="row">
    <div class="col">
        <div class="month">
            <ul>
                <li id="prevMonth" class="prev btn btn-secondary" onclick="anteriorMes()">&#10094;</li>
                <li id="nextMonth" class="next btn btn-secondary" onclick="proximoMes()">&#10095;</li>
                <li id="currentMonth">August<br><span style="font-size:18px">2017</span></li>
            </ul>
        </div>
        <table id="daysCal" class="table table-striped">
            <thead>
                <tr id="fila0" class="weekdays">
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr id="fila1" class="days">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr id="fila2" class="days">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr id="fila3" class="days">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr id="fila4" class="days">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr id="fila5" class="days">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr id="fila6" class="days">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


@section scripts {
    <link href="~/Content/calendarioStyle.css" rel="stylesheet" />
    <script src="~/Scripts/calendarioScript.js"></script>
}