@model VetSoft.Presentation.Models.ChequeoViewModel

@{
    ViewBag.Title = "Nuevo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nuevo</h2>

<div id="detallePaciente">
    <h3>Detalle del Paciente</h3>
    <div>
        @{Html.RenderAction("DetalleView", "Paciente", new { id = Model.ID });}
        
    </div>
</div>